# vhost.conf.template

<VirtualHost *:80>
    # Dynamically set ServerName using the environment variable
    ServerName ${APACHE_SERVER_NAME}
    
    DocumentRoot /var/www/html
    
    <Directory /var/www/html>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>
    
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
